# Bullpen analysis Specifically in high leverage situations
# More analysis here: https://public.tableau.com/app/profile/matt.colville#!/

In [14]:
import glob
import pandas as pd
import os
import numpy as np

In [15]:
HL_files = glob.glob(os.path.join(r"C:\Users\Owner\OneDrive\Desktop\exploratory data files\Bullpen Breakdown\HL\*.csv"))

li1 = []

for filename in HL_files:
    df1 = pd.read_csv(filename, index_col=None, header=0)
    df1['filename'] = os.path.basename(filename)
    li1.append(df1)

frame1 = pd.concat(li1, axis=0, ignore_index=True)

## High leverage - Medium - Low leverage analysis by inning

In [16]:
frame1['Inning'] = frame1['filename'].str.partition(".")[0]
frame1['OPS'] = frame1['SLG'] + frame1['OBP']
HL_inn = frame1[['Tm', 'ERA', 'OPS', 'Inning']]
HL_inn

      Tm        ERA       OPS Inning
0    LAA  18.900000  0.971429      1
1    BAL  27.000000  1.000000      1
2    BOS   6.750000  0.325000      1
3    CHW   8.100000  0.090909      1
4    CLE  40.500000  1.261905      1
..   ...        ...       ...    ...
265  PHI   9.692308  0.981952      9
266  PIT   5.684211  0.669118      9
267  STL   3.139535  0.462674      9
268  SDP  10.800000  0.799042      9
269  SFG   7.425000  0.942110      9

[270 rows x 4 columns]

In [18]:
LL_files = glob.glob(os.path.join(r"C:\Users\Owner\OneDrive\Desktop\exploratory data files\Bullpen Breakdown\LL\*.csv"))

li2 = []

for filename in LL_files:
    df2 = pd.read_csv(filename, index_col=None, header=0)
    df2['filename'] = os.path.basename(filename)
    li2.append(df2)

frame2 = pd.concat(li2, axis=0, ignore_index=True)

frame2['Inning'] = frame2['filename'].str.partition(".")[0]
frame2['OPS'] = frame2['SLG'] + frame2['OBP']
LL_inn = frame2[['Tm', 'ERA', 'OPS', 'Inning']]
LL_inn

      Tm       ERA       OPS Inning
0    LAA  2.359223  0.665275      1
1    BAL  2.700000  0.905185      1
2    BOS  1.852941  0.665396      1
3    CHW  3.857143  0.931506      1
4    CLE  1.227273  0.590090      1
..   ...       ...       ...    ...
265  PHI  2.231405  0.538988      9
266  PIT  4.595745  0.776786      9
267  STL  4.135135  0.753333      9
268  SDP  4.422414  0.699503      9
269  SFG  3.715596  0.687254      9

[270 rows x 4 columns]

In [19]:
ML_files = glob.glob(os.path.join(r"C:\Users\Owner\OneDrive\Desktop\exploratory data files\Bullpen Breakdown\ML\*.csv"))

li3 = []

for filename in ML_files:
    df3 = pd.read_csv(filename, index_col=None, header=0)
    df3['filename'] = os.path.basename(filename)
    li3.append(df3)

frame3 = pd.concat(li3, axis=0, ignore_index=True)

frame3['Inning'] = frame3['filename'].str.partition(".")[0]
frame3['OPS'] = frame3['SLG'] + frame3['OBP']
ML_inn = frame3[['Tm', 'ERA', 'OPS', 'Inning']]
ML_inn

      Tm       ERA       OPS Inning
0    LAA  6.230769  0.838590      1
1    BAL  6.120000  0.720458      1
2    BOS  4.153846  0.682155      1
3    CHW  5.142857  0.801255      1
4    CLE  5.175000  0.708094      1
..   ...       ...       ...    ...
265  PHI  3.483871  0.643902      9
266  PIT  3.552632  0.548221      9
267  STL  1.687500  0.522727      9
268  SDP  0.574468  0.347781      9
269  SFG  2.076923  0.618318      9

[270 rows x 4 columns]

In [20]:
HL_ML = HL_inn.merge(ML_inn, left_on=['Tm', "Inning"], right_on= ['Tm', "Inning"])
HL_ML = HL_ML.rename(columns = {"ERA_x":"ERA_HL", "ERA_y": "ERA_ML", "OPS_x":"OPS_HL", "OPS_y":"OPS_ML"})
Final = HL_ML.merge(LL_inn, left_on=['Tm', "Inning"], right_on= ['Tm', "Inning"])
Final = Final.rename(columns = {"ERA":"ERA_LL", "OPS":"OPS_LL"})
Final.to_excel(r"C:\Users\Owner\OneDrive\Desktop\exploratory data files\Bullpen Breakdown\Leverage_Data.xlsx")
Final

      Tm     ERA_HL    OPS_HL Inning    ERA_ML    OPS_ML    ERA_LL    OPS_LL
0    LAA  18.900000  0.971429      1  6.230769  0.838590  2.359223  0.665275
1    BAL  27.000000  1.000000      1  6.120000  0.720458  2.700000  0.905185
2    BOS   6.750000  0.325000      1  4.153846  0.682155  1.852941  0.665396
3    CHW   8.100000  0.090909      1  5.142857  0.801255  3.857143  0.931506
4    CLE  40.500000  1.261905      1  5.175000  0.708094  1.227273  0.590090
..   ...        ...       ...    ...       ...       ...       ...       ...
265  PHI   9.692308  0.981952      9  3.483871  0.643902  2.231405  0.538988
266  PIT   5.684211  0.669118      9  3.552632  0.548221  4.595745  0.776786
267  STL   3.139535  0.462674      9  1.687500  0.522727  4.135135  0.753333
268  SDP  10.800000  0.799042      9  0.574468  0.347781  4.422414  0.699503
269  SFG   7.425000  0.942110      9  2.076923  0.618318  3.715596  0.687254

[270 rows x 8 columns]

### SP vs RP analysis

In [23]:
SP_RP_files = glob.glob(os.path.join(r"C:\Users\Owner\OneDrive\Desktop\exploratory data files\Bullpen Breakdown\SP-RP\*.csv"))

li4 = []

for filename in SP_RP_files:
    df4 = pd.read_csv(filename, index_col=None, header=0)
    df4['filename'] = os.path.basename(filename)
    li4.append(df4)

frame4 = pd.concat(li4, axis=0, ignore_index=True)
frame4

,Season,Tm,G,TBF,ERA,H,2B,3B,R,ER,HR,BB,IBB,HBP,SO,AVG,OBP,SLG,wOBA,filename
0,2022,LAA,21,33,3.115385,6,0,0,3,3,2,5,0,0,10,0.214286,0.333333,0.428571,0.337067,Splits Leaderboard Data as RP 5th Inning Mediu...
1,2022,BAL,19,39,2.531250,8,1,0,3,3,2,3,0,0,7,0.222222,0.282051,0.416667,0.304819,Splits Leaderboard Data as RP 5th Inning Mediu...
2,2022,BOS,22,41,3.724138,8,3,0,4,4,1,3,1,1,11,0.216216,0.292683,0.378378,0.287270,Splits Leaderboard Data as RP 5th Inning Mediu...
3,2022,CHW,13,25,1.350000,4,0,0,1,1,1,2,0,0,4,0.173913,0.240000,0.304348,0.244048,Splits Leaderboard Data as RP 5th Inning Mediu...
4,2022,CLE,12,19,1.588235,3,0,0,1,1,1,0,0,1,6,0.166667,0.210526,0.333333,0.239849,Splits Leaderboard Data as RP 5th Inning Mediu...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,2022,PHI,15,24,7.363636,4,0,0,6,6,1,1,0,0,6,0.173913,0.208333,0.304348,0.225444,Splits Leaderboard Data Medium Leverage as SP ...
350,2022,PIT,3,6,0.000000,1,0,0,0,0,0,1,0,0,1,0.200000,0.333333,0.200000,0.262568,Splits Leaderboard Data Medium Leverage as SP ...
351,2022,STL,10,24,1.800000,7,1,0,1,1,0,2,0,0,7,0.333333,0.375000,0.380952,0.331301,Splits Leaderboard Data Medium Leverage as SP ...
352,2022,SDP,18,40,4.655172,6,1,0,5,5,1,6,0,0,8,0.176471,0.300000,0.294118,0.275230,Splits Leaderboard Data Medium Leverage as SP ...
353,2022,SFG,10,20,1.687500,3,0,0,1,1,0,2,0,0,5,0.166667,0.250000,0.166667,0.201784,Splits Leaderboard Data Medium Leverage as SP ...

In [48]:
frame4['Inning'] = np.where(frame4['filename'].str.contains('5th Inning'), 5, np.where(frame4['filename'].str.contains('6th Inning'),6,7))
frame4['Leverage_Type'] = np.where(frame4['filename'].str.contains('Medium'), "Medium", "High")
frame4['Position_Type'] = np.where(frame4['filename'].str.contains('SP'), "SP", "RP")
SP_RP_comparison = frame4[["Tm", "ERA", "Inning", "Leverage_Type", "Position_Type"]]

In [45]:
SP_RP_comparison.to_excel(r"C:\Users\Owner\OneDrive\Desktop\exploratory data files\Bullpen Breakdown\SP_RP.xlsx")

In [63]:
Beginning_files = glob.glob(os.path.join(r"C:\Users\Owner\OneDrive\Desktop\exploratory data files\Bullpen Breakdown\Leverage beg\*.csv"))

lis = []

for filename in Beginning_files:
    df5 = pd.read_csv(filename, index_col=None, header=0)
    df5['filename'] = os.path.basename(filename)
    lis.append(df5)

frame5 = pd.concat(lis, axis=0, ignore_index=True)
frame5['Position_Type'] = np.where(frame5['filename'].str.contains('SP'), "SP", "RP")
ERA = frame5[['League', 'G','ERA', 'Position_Type']]
IP = frame5[['League', 'IP', 'Position_Type']]

         ERA      G
0        NaN    NaN
1        NaN    NaN
2  15.556953  941.0
3   7.578947   58.0

In [64]:
MLB = ERA.merge(IP, left_on = ['League', 'Position_Type'], right_on = ['League', 'Position_Type'])
MLB = MLB.dropna()
MLB.to_excel(r"C:\Users\Owner\OneDrive\Desktop\exploratory data files\Bullpen Breakdown\MLB_High.xlsx")

# Through this analysis SP-RP is biased due to blowout games